* {
    font-family: Times;
    font-size: 18px;
    line-height: 1.5;
  }

button {
  margin-top: 5px;
  margin-bottom: 5px;
}

#lvlclb {
  margin-top: 5px;
  font-size: 20px;
}

#hc-container {
  margin-left: 15px;
}

.hc-buttonset-vertical label{
  display: block;
}

.hc-trial-div {
  border: 5px solid black;
  display: table;
  padding: 10px;
}
.hc-calibration-div {
  border: 5px solid black;
  position: relative;
  width: 50%;
  margin: 35px;
}
